.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-text {
  font-family: 'Cutive Mono', monospace;
  font-size: 30px;
  height: 80px;
  width: 100%;
  padding: 20px 20px 20px 12px;
  font-weight: bold;
}

.info-wrapper {
  z-index: 10;
}

.info-dropdown {
  padding-left: 40px;
  padding-right: 15px;
  padding-top: 20px;
}

.info-control {
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}

.info-text {
  font-family: 'Cutive Mono', monospace;
  font-size: 18px;
  text-align: left;
  background-color: white;
  opacity: 0.8;
  padding: 10px;
}

.info-text a {
  color: black;
  text-decoration: underline;
}

.info-text a:hover {
  color: cyan;
}

@media (max-width: 600px) {
  .header-text {
    text-align: center;
    padding: 0;
    height: 50px;
  }
  .header-container {
    flex-direction: column;
    padding-bottom: 15px;
  }
  .info-control {
    text-align: center;
  }
  .info-dropdown {
    padding: 0;
  }
  .info-text {
    text-align: center;
  }
}
